@import url("https://fonts.googleapis.com/css?family=Muli:200,400,600");
/* Typeography */
/* line 23, main.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100; }

/* line 32, main.scss */
h1 {
  color: #003f87;
  font-size: 52px;
  line-height: 1em; }

/* line 38, main.scss */
h2 {
  color: #000;
  font-size: 25px; }

/* line 43, main.scss */
h3 {
  color: #000;
  font-size: 18px; }

/* line 48, main.scss */
a {
  text-decoration: none; }

/* General */
/* line 53, main.scss */
*,
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* line 62, main.scss */
body {
  background: #fff;
  color: #000;
  font-family: "Muli", sans-serif; }

/* line 68, main.scss */
.page-wrapper {
  width: 100%;
  border-top: 10px solid #003f87; }

/* Nav */
/* line 75, main.scss */
.page-header-wrapper {
  content: '';
  display: table;
  margin: 0 auto;
  width: 1080px; }
  /* line 83, main.scss */
  .page-header-wrapper .main-nav ul.menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    /* line 88, main.scss */
    .page-header-wrapper .main-nav ul.menu li.menu-item {
      display: inline-block;
      float: left; }
      /* line 92, main.scss */
      .page-header-wrapper .main-nav ul.menu li.menu-item a {
        display: block;
        padding: 10px 20px;
        color: #003f87;
        font-size: 19px;
        text-transform: uppercase;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
        -ms-transition: background 0.3s ease;
        -o-transition: background 0.3s ease;
        transition: background 0.3s ease; }
        /* line 100, main.scss */
        .page-header-wrapper .main-nav ul.menu li.menu-item a:hover, .page-header-wrapper .main-nav ul.menu li.menu-item a.active-path {
          background: #c6db01; }

/*  Content */
/* line 111, main.scss */
.content {
  width: 100%; }
  /* line 114, main.scss */
  .content .top-feature-wrapper {
    margin: 0 auto 60px;
    width: 1080px; }
    /* line 118, main.scss */
    .content .top-feature-wrapper article img {
      width: 100%; }
    /* line 122, main.scss */
    .content .top-feature-wrapper .top-feature-story-header {
      display: inline-block;
      position: relative;
      margin-top: -40px;
      padding-left: 15px; }
      /* line 128, main.scss */
      .content .top-feature-wrapper .top-feature-story-header h2,
      .content .top-feature-wrapper .top-feature-story-header h3 {
        display: inline-block;
        margin: 0;
        color: #fff;
        font-weight: 400; }
      /* line 136, main.scss */
      .content .top-feature-wrapper .top-feature-story-header h2 {
        display: inline-block;
        margin: 0;
        padding: 20px;
        background: #0097de;
        font-size: 27px; }
      /* line 144, main.scss */
      .content .top-feature-wrapper .top-feature-story-header h3 {
        display: inline-block;
        margin: 0;
        padding: 8px 25px;
        background: #003f87;
        font-family: "Times New Roman", serif;
        font-size: 16px;
        font-style: italic; }
  /* line 157, main.scss */
  .content .featured-stories-wrapper {
    content: '';
    display: table;
    padding: 35px 0;
    width: 100%;
    background: #f1f1f1; }
    /* line 164, main.scss */
    .content .featured-stories-wrapper .featured-stories {
      margin: 0 auto;
      width: 1080px; }
      /* line 168, main.scss */
      .content .featured-stories-wrapper .featured-stories ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center; }
        /* line 178, main.scss */
        .content .featured-stories-wrapper .featured-stories ul li {
          display: inline-block;
          float: left;
          margin-bottom: 30px;
          width: 25%;
          padding: 0 15px; }
          /* line 185, main.scss */
          .content .featured-stories-wrapper .featured-stories ul li article.featured-story {
            text-align: left; }
            /* line 188, main.scss */
            .content .featured-stories-wrapper .featured-stories ul li article.featured-story img {
              display: block;
              max-width: 100%; }
            /* line 193, main.scss */
            .content .featured-stories-wrapper .featured-stories ul li article.featured-story .story-type {
              display: block;
              position: relative;
              margin: -32px 0 0 2px;
              padding: 0 15px;
              width: max-content;
              height: 32px;
              background: #c6db01;
              color: #003f87;
              font-size: 17px;
              line-height: 32px; }
              /* line 205, main.scss */
              .content .featured-stories-wrapper .featured-stories ul li article.featured-story .story-type:before {
                content: '';
                position: absolute;
                left: -15px;
                width: 15px;
                height: 32px;
                background: url(../img/story-type-background.png) no-repeat left center/cover; }
            /* line 215, main.scss */
            .content .featured-stories-wrapper .featured-stories ul li article.featured-story h2 {
              margin-bottom: 10px;
              font-weight: 600; }
            /* line 220, main.scss */
            .content .featured-stories-wrapper .featured-stories ul li article.featured-story h3 {
              margin-top: 0;
              font-weight: 400; }

@media screen and (max-width: 1100px) {
  /* Nav */
  /* line 235, main.scss */
  .page-header-wrapper {
    width: 100%; }

  /*  Content */
  /* line 242, main.scss */
  .content .top-feature-wrapper,
  .content .featured-stories-wrapper {
    padding-left: 20px;
    padding-right: 20px; }
  /* line 248, main.scss */
  .content .top-feature-wrapper {
    width: 100%; }
  /* line 254, main.scss */
  .content .featured-stories-wrapper .featured-stories {
    width: 100%; } }
@media screen and (max-width: 991px) {
  /* line 267, main.scss */
  .content .top-feature-wrapper {
    width: 100%; }
  /* line 271, main.scss */
  .content .top-feature-story-header {
    padding-right: 15px; }
  /* line 275, main.scss */
  .content .featured-stories-wrapper .featured-stories ul li article.featured-story .story-type {
    font-size: 16px; } }
@media screen and (max-width: 800px) {
  /* line 285, main.scss */
  h1 {
    font-size: 36px; }

  /* line 289, main.scss */
  h2 {
    font-size: 20px; }

  /* line 293, main.scss */
  h3 {
    font-size: 16px; }

  /* line 297, main.scss */
  .page-header-wrapper .main-nav ul.menu li.menu-item a {
    font-size: 16px;
    font-size: 16px; }

  /* line 306, main.scss */
  .content .top-feature-wrapper .top-feature-story-header h2 {
    font-size: 18px; }
  /* line 311, main.scss */
  .content .featured-stories-wrapper .featured-stories ul li {
    width: 50%; } }
@media screen and (max-width: 600px) {
  /* line 320, main.scss */
  .page-header-wrapper .main-nav ul.menu li.menu-item a {
    padding: 10px;
    font-size: 14px; }

  /* line 329, main.scss */
  .content .top-feature-wrapper .top-feature-story-header h2 {
    padding: 10px; }
  /* line 333, main.scss */
  .content .top-feature-wrapper .top-feature-story-header h3 {
    padding: 8px 10px; }
  /* line 338, main.scss */
  .content .featured-stories-wrapper .featured-stories ul li {
    width: 100%; } }
@media screen and (max-width: 480px) {
  /* line 349, main.scss */
  .content .top-feature-wrapper .top-feature-story-header {
    margin-top: -20px; }
  /* line 353, main.scss */
  .content .featured-stories-wrapper .featured-stories ul li {
    float: none;
    width: 100%; } }
@media screen and (max-width: 320px) {
  /* line 365, main.scss */
  .content .top-feature-wrapper .top-feature-story-header {
    margin-top: -20px; }
  /* line 369, main.scss */
  .content .featured-stories-wrapper .featured-stories ul li {
    float: none;
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
